﻿<!DOCTYPE html>
<html lang="en">
  
<!-- ingalia.com -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log In &middot; Portal &middot; KulaLunch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="description" content="KulaLunch">
    <meta property="og:url" content="http://ingalia.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="The fastest way to get lunch">
    <meta property="og:description" content="With KulaLunch you get you food delivered to you">
    <meta property="og:image" content="../img/ae165ef33d137d3f18b7707466aa774d.jpg">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#27ae60">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700">
    <link rel="stylesheet" href="css/vendor.min.css">
    <link rel="stylesheet" href="css/elephant.min.css">
    <link rel="stylesheet" href="css/login-3.min.css">
    
    <link href="../css/ngProgress.css" rel="stylesheet" />
  </head>
  <body ng-app="KulaLunch" ng-controller="loginController">
      <div growl></div>
    <div class="login">
      <div class="login-body">
        <a class="login-brand" href="">
          <h1>KulaLunch</h1>
        </a>
        <h3 class="login-heading">Sign in</h3>
        <div class="login-form">
          <form data-toggle="md-validator">
            <div class="md-form-group md-label-floating">
              <input class="md-form-control" ng-model="UserLogin.PhoneNumber" type="text" name="phone" spellcheck="false" autocomplete="on" data-msg-required="Please enter your phone number." required>
              <label class="md-control-label">Phone</label>
            </div>
            <div class="md-form-group md-label-floating">
              <input class="md-form-control" type="password" ng-model="UserLogin.Password" name="password"  data-msg-required="Please enter your password." required>
              <label class="md-control-label">Password</label>
            </div>
            <button class="btn btn-primary btn-block" ng-click="Login(UserLogin)" type="submit">Sign in</button>
          </form>
        </div>
      </div>
     
    </div>
    <script src="js/vendor.min.js"></script>
    <script src="js/elephant.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>

      <script src="../app/app.js"></script>
      <script src="../js/ngStorage.js"></script>>


      <script src="../js/angular-growl.js"></script>
      <script src="../js/ngprogress.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
      <script src="//rawgit.com/angular-ui/angular-google-maps/2.1.5/dist/angular-google-maps.min.js"></script>
      <script src="../js/json-export-excel.js"></script>
      <script src="../js/FileSaver.js"></script>
  </body>

<!--ingalia.com -->
</html>