﻿<!DOCTYPE html>
<html lang="en">

<!-- ingalia.com -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard &middot; KulaLunch &middot;</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="description" content="KulaLunch">
    <meta property="og:url" content="http://ingalia.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="The fastest way to get lunch">
    <meta property="og:description" content="With KulaLunch you get you food delivered to you">
    <meta property="og:image" content="../img/ae165ef33d137d3f18b7707466aa774d.jpg">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#27ae60">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700">
    <link rel="stylesheet" href="css/vendor.min.css">
    <link rel="stylesheet" href="css/elephant.min.css">
    <link rel="stylesheet" href="css/application.min.css">

    <link href="../css/ngProgress.css" rel="stylesheet" />
</head>
<body class="layout layout-header-fixed" ng-app="KulaLunch" ng-controller="tdController">

    <div class="layout-header">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand navbar-brand-center" href="dashboard.html">
                    <img class="navbar-brand-logo" src="img/logo.png" alt="KulaLunch">
                </a>
                <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#sidenav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="bars">
                        <span class="bar-line bar-line-1 out"></span>
                        <span class="bar-line bar-line-2 out"></span>
                        <span class="bar-line bar-line-3 out"></span>
                    </span>
                    <span class="bars bars-x">
                        <span class="bar-line bar-line-4"></span>
                        <span class="bar-line bar-line-5"></span>
                    </span>
                </button>
                <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="arrow-up"></span>
                    <span class="ellipsis ellipsis-vertical">
                        <img class="ellipsis-object" width="32" height="32" src="img/0180441436.jpg" alt="{{fn}}">
                    </span>
                </button>
            </div>
            <div class="navbar-toggleable">
                <nav id="navbar" class="navbar-collapse collapse">
                    <button class="sidenav-toggler hidden-xs" title="Collapse sidenav ( [ )" aria-expanded="true" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="bars">
                            <span class="bar-line bar-line-1 out"></span>
                            <span class="bar-line bar-line-2 out"></span>
                            <span class="bar-line bar-line-3 out"></span>
                            <span class="bar-line bar-line-4 in"></span>
                            <span class="bar-line bar-line-5 in"></span>
                            <span class="bar-line bar-line-6 in"></span>
                        </span>
                    </button>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="visible-xs-block">
                            <h4 class="navbar-text text-center">Hi, {{fn}}</h4>
                        </li>
                        <li class="hidden-xs hidden-sm">
                            <form class="navbar-search navbar-search-collapsed">
                                <div class="navbar-search-group">
                                    <input class="navbar-search-input" type="text" placeholder="Search for people, companies, and more&hellip;">
                                    <button class="navbar-search-toggler" title="Expand search form ( S )" aria-expanded="false" type="submit">
                                        <span class="icon icon-search icon-lg"></span>
                                    </button>
                                    <button class="navbar-search-adv-btn" type="button">Advanced</button>
                                </div>
                            </form>
                        </li>

                        <li class="dropdown hidden-xs">
                            <button class="navbar-account-btn" data-toggle="dropdown" aria-haspopup="true">
                                <img class="rounded" width="36" height="36" src="img/0180441436.jpg" alt="{{fn}}"> {{fn}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">

                                <li><a href="login-1.html">Sign out</a></li>
                            </ul>
                        </li>

                        <li class="visible-xs-block">
                            <a href="login-1.html">
                                <span class="icon icon-power-off icon-lg icon-fw"></span>
                                Sign out
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="layout-main">
        <div class="layout-sidebar">
            <div class="layout-sidebar-backdrop"></div>
            <div class="layout-sidebar-body">
                <div class="custom-scrollbar">
                    <nav id="sidenav" class="sidenav-collapse collapse">
                        <ul class="sidenav">
                            <li class="sidenav-search hidden-md hidden-lg">
                                <form class="sidenav-form" action="">
                                    <div class="form-group form-group-sm">
                                        <div class="input-with-icon">
                                            <input class="form-control" type="text" placeholder="Search…">
                                            <span class="icon icon-search input-icon"></span>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <li class="sidenav-heading">Navigation</li>
                            <li class="sidenav-item  ">
                                <a href="dashboard.html" aria-haspopup="true">
                                    <span class="sidenav-icon icon icon-home"></span>
                                    <span class="sidenav-label">Dashboards</span>
                                </a>
                            </li>
                            <li class="sidenav-item active">
                                <a href="todaysOrders.html" aria-haspopup="true">
                                    <span class="sidenav-icon icon icon-shopping-cart"></span>
                                    <span class="sidenav-label">Todays Orders</span>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="Orders.html" aria-haspopup="true">
                                    <span class="sidenav-icon icon icon-bar-chart"></span>
                                    <span class="sidenav-label">Orders</span>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="SMS.html" aria-haspopup="true">
                                    <span class="sidenav-icon icon icon-print"></span>
                                    <span class="sidenav-label">SMS</span>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="Users.html" aria-haspopup="true">
                                    <span class="sidenav-icon icon icon-users"></span>
                                    <span class="sidenav-label">Users</span>
                                </a>
                            </li>
                            <li class="sidenav-item">
                                <a href="menu.html" aria-haspopup="true">
                                    <span class="sidenav-icon icon icon-book"></span>
                                    <span class="sidenav-label">Menu</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="layout-content">
            <div class="layout-content-body">
                <div class="title-bar">
                    <h1 class="title-bar-title">
                        <span class="d-ib">Todays's Orders</span>
                     </h1>  
                </div>
                <div class="row gutter-xs">
                    <div class="col-xs-6 col-md-3">
                        <div class="panel panel-body text-center" data-toggle="match-height">
                            <h5>Office Name</h5>
                            <div class="input-with-icon">
                                <select class="form-control" ng-model="office" id="form-field-select-office" ng-options="item.LocationName as item.LocationName for item in Defaultitems | unique: 'LocationName'">
                                    <option id="officeid" value="" style="color:orangered">No Office selected</option>
                                </select>
                            </div>
                            <button class="btn btn-primary" ng-click="filterOffice(office)" type="button">Filter</button>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="panel panel-body text-center" data-toggle="match-height">
                            <h5>Building Name</h5>
                           
                            <div class="input-with-icon">
                                <select class="form-control" ng-model="building" id="form-field-select-building" ng-options="item.BuldingName as item.BuldingName for item in Defaultitems | unique: 'BuldingName'">
                                    <option id="buildingid" value="" style="color:orangered">No Building selected</option>
                                </select>
                            </div>
                            <button class="btn btn-primary" ng-click="filterBuldingName(building)" type="button">Filter</button>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <div class="panel panel-body text-center" data-toggle="match-height">
                            <h5>Food</h5>
                            <div class="input-with-icon">
                                <select class="form-control" ng-model="foodname" id="form-field-select-fname" ng-options="item.Name as item.Name for item in Defaultitems | unique: 'Name'">
                                    <option id="fnameid" value="" style="color:orangered">No Food selected</option>
                                </select>
                            </div>
                            <button class="btn btn-primary" ng-click="filterName(foodname)" type="button">Filter</button>
                        </div>
                    </div>
                    <div class="row gutter-xs">
                        <div class="col-xs-6 col-md-3">
                            <div class="panel panel-body text-center" data-toggle="match-height">
                                <h5>Name</h5>
                                <div class="input-with-icon">
                                    <select class="form-control" ng-model="fullnames" id="form-field-select-fname" ng-options="item.FullNames as item.FullNames for item in Defaultitems | unique: 'FullNames'">
                                        <option id="fnameid" value="" style="color:orangered">No Name selected</option>
                                    </select>
                                </div>
                                <button class="btn btn-primary" ng-click="filterFullnames(fullnames)" type="button">Filter</button>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="panel panel-body text-center" data-toggle="match-height">
                                <button class="btn btn-primary" ng-click="refreshList()" type="button">Refresh List</button>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="panel panel-body text-center" data-toggle="match-height">
                                <button class="btn btn-primary"  ng-json-export-excel data="items" report-fields="{FullNames: 'FullNames', Description: 'Description', BuldingName: 'BuldingName', LocationName: 'LocationName', Name: 'Name', Price: 'Price', Timestamp: 'Timestamp'}" filename ="'Orders export-excel'" separator="," type="button">Export Excel</button>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="table-responsive" id="tableToExport">
                                        <table class="table table-middle">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <label class="custom-control custom-control-primary custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox">
                                                            <span class="custom-control-indicator"></span>
                                                        </label>
                                                    </th>
                                                    <th>FullNames
                                                    <th>
                                                    <th>BuldingName</th>
                                                    <th>Office</th>
                                                    <th>Name</th>
                                                    <th>Price</th>
                                                    <th>Date</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in items">
                                                    <td>
                                                        <label class="custom-control custom-control-primary custom-checkbox">
                                                            <input class="custom-control-input" type="checkbox">
                                                            <span class="custom-control-indicator"></span>
                                                        </label>
                                                    </td>
                                                    <td class="nowrap">
                                                        <strong>{{item.FullNames}}</strong>
                                                    </td>
                                                    <td class="maw-145">
                                                        <span class="truncate">{{item.Description | limitTo : 0}}</span>
                                                    </td>
                                                    <td>{{item.BuldingName}}</td>
                                                    <td>
                                                        <span class="label label-info label-pill">{{item.LocationName}}</span>
                                                    </td>
                                                    <td>{{item.Name}}</td>
                                                    <td>{{item.Price}}</td>
                                                    <td>
                                                       {{item.Timestamp | date:'fullDate'}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                
            </div>
        </div>
        <div class="layout-footer">
            <div class="layout-footer-body">
                <small class="version">Version 1.0.0</small>
                <small class="copyright">2016 &copy; KulaLunch By <a href="http://inficore.co.ke/">infiCORE</a></small>
            </div>
        </div>
    </div>

    <script src="js/vendor.min.js"></script>
    <script src="js/elephant.min.js"></script>
    <script src="js/application.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>

    <script src="../app/app.js"></script>
    <script src="../js/ngStorage.js"></script>>


    <script src="../js/angular-growl.js"></script>
    <script src="../js/ngprogress.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
    <script src="//rawgit.com/angular-ui/angular-google-maps/2.1.5/dist/angular-google-maps.min.js"></script>
        <script src="../js/json-export-excel.js"></script>
        <script src="../js/FileSaver.js"></script>
</body>

<!-- ingalia.com -->
</html>