﻿<!DOCTYPE html>
<html lang="en">

<!-- ingalia.com -->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Ingalia Clinton">
<meta name="description" content="Task">
<meta name="keywords" content="">
<title>KulaLunch</title>
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="css/plagins.css">
<link rel="stylesheet" type="text/css" href="css/plagins.css">
<link rel="stylesheet" type="text/css" href="css/index.css">

    <link href="js/angular-growl.css" rel="stylesheet" />
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
            
        }
         #map_canvas {
            height: 200px;
            width: 550px;
            margin: 0px;
        }

        #map_canvas {
            position: relative;
        }

        .angular-google-map-container {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    </style>
    <link href="css/ngProgress.css" rel="stylesheet" />
    
<!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="KulaLunch" ng-controller="indexController">
    <div growl></div>
 
<div class="container-fluid pad-lg-0">
<div class="row">
<div class="col-lg-12 ">
<div class="wpc-header-menu">
<div class="wpc-navigation">
<nav>
<ul class="main-menu">
    <li class="menu-item">
        <a class="" href="#">Home</a>
    </li>

    <li class="menu-item">
        <a class="" href="#Menu">Menu</a>
    </li>

    <li class="menu-item logo">
        <a class="" href="index.html">KulaLunch</a>
    </li>

    <li class="menu-item">
        <a class="" href="#Order">Orders({{on}})</a>
    </li>

    <li class="menu-item">
        <a class="" href="#Contact">Contact us</a>
    </li>

    <li class="menu-item">
        <a class="" href="#About">{{UM}}</a>
    </li>

</ul>
<div class="nav-menu-icon"><i></i></div>
</nav>
</div>
<div class="wpt-menu-form ">
<form action="#">
<input type="text">
<i class="flaticon-search"></i>
</form>
</div>
<div class="logo2"><a href="index.html">KulaLunch</a></div>
</div>
</div>
</div>
</div>
 
<div class="load-wrap">
<div class="pace ">
<div class="pace-progress">
<div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div>
</div>
</div>
 

 
<div class="load-wrap">
<div class="pace ">
<div class="pace-progress">
<div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div>
</div>
</div>
 
 
<div class="container-fluid pad-lg-0">
<div class="row">
<div class="col-lg-12">
<div class="wpc-swiper wpc-home3 marg-lg-t90  marg-sm-t60">
<div class="swiper-container" data-autoplay="5000" data-touch="1" data-mouse="0" data-slides-per-view="1" data-loop="0" data-speed="1000">
<div class="swiper-wrapper">
<div class="swiper-slide ">
<img src="img/home3/home3_bg.jpg" alt="img">
<div class="swiper-slide-bg">
<h1>Welcome To</h1>
<h3>KulaLunch</h3>
<p>Your Lunch is an ORDER away</p>
</div>
</div>
<div class="swiper-slide ">
<img src="img/home3/home3_bg2.jpg" alt="img">
<div class="swiper-slide-bg">
<h1>Your Favorite Meal</h1>
<h3>is only a click away</h3>
<p></p>
</div>
</div>
<div class="swiper-slide ">
<img src="img/home3/home3_bg3.jpg" alt="img">
<div class="swiper-slide-bg">
<h1>We Deliver</h1>
<h3>to your office</h3>
<p>& have the BEST tasting food in Nairobi</p>
</div>
</div>
</div>
<div class="pagination"></div>
</div>
</div>
</div>
</div>
</div>
 
<div class="container-fluid wpc-about" id="About">
<div class="row">
 
<div class="col-lg-5 col-md-6">
<div class="wpc-about-title marg-lg-t225 marg-lg-b100 marg-sm-b0 marg-sm-t0">
    <img src="img/homepage%20logo.png" width="50%"/>
<h3>who we are</h3>
<span>We conviniently deliver healthly lunch to you at the lowest price in town.</span>
<p>Order your desired meal before  11.15 a.m and have it delivered to you between 12.30 and 2 p.m. Orders close at 11.15 a.m to ensure we get your orders to you on time and as cheaply as possible.</p>
</div>
</div>
<div class="col-lg-7 col-md-6">
<div class="wpc-about-form marg-lg-t140 marg-lg-b140 marg-sm-b50 marg-sm-t50">

    <div ng-hide="rForm">
        <h3>REGISTER <i>Now</i> TO ORDER</h3>
        <span>Please fill all required fields</span>
        <form name="regForm"  ng-submit="Register(User)">
            <input type="text" placeholder='First name' class="three_col" ng-model="User.FirstName" required>
            <input type="text" placeholder='Last name' class="three_col1" ng-model="User.LastName" required>
            <input type="text" placeholder='Phone Number' class="three_col" ng-model="User.PhoneNumber" required>
            <input type="password" placeholder='Password' class="three_col1" ng-model="User.Password" required>
            <input type="email" placeholder='Email' class="three_col1" ng-model="User.Email" required>
            <input type="text" placeholder='Bulding Name' class="three_col" ng-model="User.LocationName" required>
            <input type="text" placeholder='Floor No' class="three_col" ng-model="User.FloorNo" required>
            <input type="text" placeholder='Office Name'  ng-model="User.Office" required>
            <button type="submit"  ng-if(regForm.$valid)>{{Reg}}</button>
            
        </form>
        <button ng-hide="uma" ng-click="ShowLogin()" >{{UMA}}</button>
    </div>
    <div ng-hide="editForm">
        <h3>EDiT <i>Your</i> Details</h3>
        <span>Please fill all required fields</span>
        <form name="regForm" ng-submit="UpdateUser(User)">
            <input type="text" placeholder='{{fn}}' class="three_col" ng-model="User.FirstName" required>
            <input type="text" placeholder='{{ln}}' class="three_col1" ng-model="User.LastName" required>
            <input type="text" placeholder='{{pnumber}}' class="three_col" ng-model="User.PhoneNumber" required>
            <input type="password" placeholder='Password' class="three_col1" ng-model="User.Password" required>
            <input type="email" placeholder='{{em}}' class="three_col1" ng-model="User.Email" required>
            <input type="text" placeholder='{{bn}}' class="three_col" ng-model="User.LocationName" required>
            <input type="text" placeholder='{{fno}}' class="three_col" ng-model="User.FloorNo" required>
            <input type="text" placeholder='{{of}}' ng-model="User.Office" required>
            <button type="submit" ng-if(regForm.$valid)>Save</button>

        </form>
        <button  ng-click="Cancel()">Cancel</button>
    </div>
    <div ng-hide="loginForm">
        <h3>LOGIN <i>Now</i> TO ORDER</h3>
        <span>Please fill all required fields</span>
        <form name="loginForm"  ng-submit="Login(UserLogin)">
            <input type="text" placeholder='Phone Number' class="three_col" ng-model="UserLogin.PhoneNumber" required>
            <input type="password" placeholder='Password' class="three_col1" ng-model="UserLogin.Password" required>
            <button type="submit" ng-if(loginForm.$valid)>Login</button>

        </form>
        <span>{{loginError}}</span>
        <button ng-hide="umalogin" ng-click="ShowRegister()"  >Register</button>
    </div>
    <div ng-hide="lg">
        <h3>Hello  <i>{{fn}} {{ln}}</i></h3>
        <span>Your Location</span>
        <div id="map_canvas">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
            </ui-gmap-google-map>
            </div>
            <br />
            <span>Building Name: {{bn}}</span>
            <br />
            <span>Office: {{of}}</span>
            <br />
            <span>Floor Number: {{fno}}</span>
            <br />
            <button  ng-click="Edit()">Edit</button>
            <button ng-hide="uma" ng-click="Logout()">Logout</button>
    </div>
</div>
</div>
 
</div>
</div>


    <div class="wpt-dish-bg" id="Menu">
        <img src="img/home1/dishes_bg.jpg" alt="img">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <header class='wpc-header wpc-dishes marg-lg-t110 marg-sm-t50'>
                        <h2>Our Menu</h2>
                        <h3>perfect taste</h3>
                    </header>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="tabs wpc-dishes marg-lg-t70 marg-lg-b140 marg-sm-b50">
                        <div class="tabs-header">
                            <ul>
                                <li  class="active"><a ng-click="selAcc(1)" href="#">Plain Rice</a></li>
                                <li><a ng-click="selAcc(2)" href="#">Rice Biryani</a></li>
                                <li><a ng-click="selAcc(3)" href="#">Pilau</a></li>
                                <li><a ng-click="selAcc(4)" href="#">Chapati</a></li>
                                
                            </ul>
                        </div>
                    </div>
                    <header class='wpc-header wpc-dishes marg-lg-t110 marg-sm-t50'>
                        <h2></h2>
                        <h3>Accompaniment: {{acc}}</h3>
                        <h3>To Change select from above Menu</h3>
                    </header>
                </div>
            </div>
           
        </div>
    </div>
    <div class="container">
       
        <div class="row">
            <div class="col-lg-12 pad-lg-0">
                <header class='wpc-header wpc-proposes marg-lg-b130 marg-lg-t110 marg-sm-b90 marg-sm-t50'>
                    <h2>Click on an item to add Order</h2>
                </header>
                <div class="wpc-tabs-body marg-lg-t90 marg-lg-b140  marg-sm-b50  marg-sm-t50">
                    <div class="tabs-content wpt-dish-tabs">
                        <div class="tabs-item active activeMore">

                            <div class="row">
                                <div class="col-md-6 pad-lg-0 " ng-repeat="item in items track by item.MenuId">
                                    <div class="wpt-dish-item  wpt-dish-itemH">
                                        <div class="container-fluid pad-lg-0">
                                            <div class="row" ng-click="addItem(item, 1)">
                                                <div class="col-sm-2 pad-lg-0">
                                                    <div class="wpc-dishes-logo">
                                                        <a href="#"><img src="img/home1/dishes_img1.jpg" alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8 col-xs-10 pad-lg-0">
                                                    <div class="wpc-dishes-info ">
                                                        <h6>Plain Rice & {{item.Name}}</h6>
                                                        <span>{{item.Description}}</span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2 pad-lg-0">
                                                    <div class="wpc-dishes-price">
                                                        <span>KES {{item.Price}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>

                        </div>
                        <div class="tabs-item">

                            <div class="row">
                                <div class="col-md-6 pad-lg-0 " ng-repeat="item in items track by item.MenuId">
                                    <div class="wpt-dish-item  wpt-dish-itemH">
                                        <div class="container-fluid pad-lg-0">
                                            <div class="row" ng-click="addItem(item, 2)">
                                                <div class="col-sm-2 pad-lg-0">
                                                    <div class="wpc-dishes-logo">
                                                        <a href="#"><img src="img/home1/dishes_img1.jpg" alt=""></a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8 col-xs-10 pad-lg-0">
                                                    <div class="wpc-dishes-info ">
                                                        <h6>Rice Biryani & {{item.Name}}</h6>
                                                        <span>{{item.Description}}</span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2 pad-lg-0">
                                                    <div class="wpc-dishes-price">
                                                        <span>KES {{item.Price}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tabs-item ">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 pad-lg-0 " ng-repeat="item in items track by item.MenuId">
                                        <div class="wpt-dish-item  wpt-dish-itemH">
                                            <div class="container-fluid pad-lg-0">
                                                <div class="row" ng-click="addItem(item, 3)">
                                                    <div class="col-sm-2 pad-lg-0">
                                                        <div class="wpc-dishes-logo">
                                                            <a href="#"><img src="img/home1/dishes_img1.jpg" alt=""></a>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8 col-xs-10 pad-lg-0">
                                                        <div class="wpc-dishes-info ">
                                                            <h6>Pilau & {{item.Name}}</h6>
                                                            <span>{{item.Description}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-2 pad-lg-0">
                                                        <div class="wpc-dishes-price">
                                                            <span>KES {{item.Price}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 pad-lg-0 " ng-repeat="item in items track by item.MenuId">
                                        <div class="wpt-dish-item  wpt-dish-itemH">
                                            <div class="container-fluid pad-lg-0">
                                                <div class="row" ng-click="addItem(item, 4)">
                                                    <div class="col-sm-2 pad-lg-0">
                                                        <div class="wpc-dishes-logo">
                                                            <a href="#"><img src="img/home1/dishes_img1.jpg" alt=""></a>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8 col-xs-10 pad-lg-0">
                                                        <div class="wpc-dishes-info ">
                                                            <h6>Chapati & {{item.Name}}</h6>
                                                            <span>{{item.Description}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-2 pad-lg-0">
                                                        <div class="wpc-dishes-price">
                                                            <span>KES {{item.Price}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                       
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <a href="#Order" class="wpc-tabs-more" ng-click="AddChapati()">Add 1 More Chapati</a>

                </div>
            </div>
        </div>
    </div>


 
 
    <div class="container-fluid wpc-prop marg-lg-b140 marg-sm-b50" id="Order">
        <div class="row">
            <div class="col-lg-12">
                <header class='wpc-header wpc-proposes marg-lg-b130 marg-lg-t110 marg-sm-b90 marg-sm-t50'>
                    <h2>Your Orders</h2>
                    <h3>Submit your Order before 11 AM</h3>
                </header>
            </div>
        </div>
        <div class="row">
            <table ng-hide="orderTable">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                <tr ng-repeat="item in mOrders track by $index">
                    <td>{{item.Name}}</td>
                    <td>{{item.Description}}</td>
                    <td>{{item.Price}}</td>
                    <td><button style="background-color: red;    border: none;    color: white;    padding: 15px 32px;    text-align: center;    text-decoration: none;    display: inline-block;    font-size: 16px;" ng-click="removeItem(item)">Remove</button></td>
                </tr>
            </table>
            <table ng-hide="historyTable">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Date</th>
                </tr>
                <tr ng-repeat="item in Historyitems track by $index">
                    <td>{{item.Name}}</td>
                    <td>{{item.Description}}</td>
                    <td>{{item.Price}}</td>
                    <td>{{item.Timestamp | date:'fullDate'}}</td>
                </tr>
            </table>
            <header class='wpc-header wpc-proposes marg-lg-b130 marg-lg-t110 marg-sm-b90 marg-sm-t50'>
                <h2>Total Price: KES {{tPrice}}</h2>
                <div >
                    <button ng-hide="submitBtn" ng-click="submitOrders()" style="background-color: #4CAF50;    border: none;    color: white;    padding: 15px 32px;    text-align: center;    text-decoration: none;    display: inline-block;    font-size: 16px;"> SUBMIT</button>
                    <button ng-hide="vOrdersBtn" ng-click="viewOrders()" style="background-color: #4CAF50;    border: none;    color: white;    padding: 15px 32px;    text-align: center;    text-decoration: none;    display: inline-block;    font-size: 16px;"> VIEW ORDERS</button>
                    <button ng-hide="historysBtn" ng-click="History()" style="background-color: #4CAF50;    border: none;    color: white;    padding: 15px 32px;    text-align: center;    text-decoration: none;    display: inline-block;    font-size: 16px;"> ORDER HISTORY</button>
                </div>
                
            </header>
            
        </div>
    </div>


 

<div class="container-fluid wpc-info-b2" id="Contact">
<div class="row">
<div class="col-md-6 pad-lg-0">
<div class="wpc-info-block2 clearfix marg-lg-t125 marg-lg-b125 marg-sm-t50 marg-sm-b50">
<div class="wpc-info-block2-item "><img src="img/home1/choose_img1.jpg" alt=""></div>
<div class="wpc-info-block2-item"><img src="img/home1/choose_img2.jpg" alt=""></div>
<div class="wpc-info-block2-item"><img src="img/home1/choose_img3.jpg" alt=""></div>
<div class="wpc-info-block2-item"><img src="img/home1/choose_img4.jpg" alt=""></div>
</div>
</div>
<div class="col-md-6">
<div class="wpc-info-block2_text wpc-info-block2 marg-lg-t210 marg-lg-b250 marg-sm-t0 marg-sm-b50">
<header class='wpc-header'>
<h3>Why we are the best</h3>
</header>
<span>We believe in the power of small gestures and believe that if we can satisfy your hunger, palet, comfort and wallet/purse,we would have made your day alot better.Ours is to make your life easier and more satisfying.
Join us and be part of our small gesture experience.We are eat!
</span>

</div>
</div>
</div>
</div>

 
 
 
<div class="wpc-footer">
<div class="container pad-lg-0">
<div class="row">
<div class="col-md-3 col-sm-6 col-xs-12">
<div class="wpc-footer-item marg-lg-t67 marg-lg-b90 marg-sm-t0 marg-sm-b0 marg-xs-t0">
<a href="#">
<div class="logo">
<h2>KulaLunch</h2>
</div>
</a>
<span>We conviniently deliver healthly lunch to you at the lowest price in town.</span>
<nav class="soc-net">
<ul>
<li>
<a href="#" class='flaticon-social-1'></a>
</li>
<li>
<a href="#" class="flaticon-social-media"></a>
</li>
<li>
<a href="#" class='flaticon-social-2'></a>
</li>
<li>
<a href="#" class='flaticon-camera'></a>
</li>
</ul>
</nav>
</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
<div class="wpc-footer-item marg-lg-t67 marg-lg-b90 marg-sm-t0 marg-sm-b0 marg-xs-t0">
<h5>contact us:</h5>
<ul>
<li><span>0721 597 327</span></li>
<li><span>kulalunch@gmail.com</span></li>
<li><span>Nairobi, Kenya</span></li>

</ul>
</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
<div class="wpc-footer-item marg-lg-t67 marg-lg-b90 marg-sm-t0 marg-sm-b0 marg-xs-t0 wpc-work-time">
<h5>Work time:</h5>
<ul>
<li><span>Monday - Friday</span><i>8AM - 11AM</i></li>
<li><span>Saturday</span> <i> Not Working</i></li>
</ul>
</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12 pad-lg-0">
<div class="wpc-footer-item marg-lg-t65 marg-lg-b90 marg-sm-t20 marg-sm-b50 marg-xs-t0 wpc-twitter">
<h5>from twitter:</h5>
    <a href="https://twitter.com/KulaLunchKe" class="twitter-follow-button" data-show-count="true">Follow @KulaLunchKe</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>
 
<div class="col-xs-12">
<footer class='wpc-copyright '>
<span>
© 2016 All Rights Reserved.
</span>
</footer>
</div>
</div>
</div>
</div>
 
 
<script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
 
<script type="text/javascript" src='js/jquery.countTo.js'></script>
 
<script type="text/javascript" src="js/bootstrap-datepicker.min.js"></script>
 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxU-KbDJCv-UVTDSVvLhG4OIJ4gxDbDpQ" type="text/javascript"></script>
<script type="text/javascript" src="js/bootstrap-select.min.js"></script>
 
<script type="text/javascript" src="js/idangerous.swiper.min.js"></script>
<script src="ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
<script type="text/javascript" src='js/preload.min.js'></script>
<script type="text/javascript" src="js/index.js"></script>


<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>

    <script src="app/app.js"></script>
    <script src="js/ngStorage.js"></script>>
    

    <script src="js/angular-growl.js"></script>
    <script src="js/ngprogress.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
    <script src="//rawgit.com/angular-ui/angular-google-maps/2.1.5/dist/angular-google-maps.min.js"></script>
    <script src="../js/json-export-excel.js"></script>
    <script src="../js/FileSaver.js"></script>
 
</body>

<!-- ingalia.com -->
</html>